html {
    background-color: rgb(49, 46, 46);
  }

.avisos {
    color: aquamarine;
    text-align: center;
    font-size: 2em;
    margin: 10px;
}
  
.titulo{
      color: whitesmoke;
      text-align: center;
  }

.jogo{
    margin-top: 10px; 
}

.l1, .l2, .l3{    
    height: 175px;
    width: 175px;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
}

@media (max-width: 600px) { 
    .l1, .l2, .l3{    
        height: 150px;
        width: 150px;
    }
 }

 @media (max-width: 550px) { 
    .l1, .l2, .l3{    
        height: 125px;
        width: 125px;
    }
 }

.l1:hover, .l2:hover, .l3:hover{  
    background-color: rgb(147, 245, 248);
}   

.linha1{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 5px;
}
.linha2{
    color: whitesmoke;
    text-align: center;
    padding-bottom: 5px;
}
.linha3{
    color: whitesmoke;
    text-align: center;
}

.botao_jogar{
    height: 40px;
    width: 200px;
    color: black;
    font-size: 1.5em;
    font-weight: 900;
    background-color: #1abc9c;
    border: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
}

.botoes {
    display: flex;
    justify-content: center;
}

#pts-jogador {
    left: 100px;
    color: #27ae60;  
}

#pts-computador {
    right: 100px;
    color: #d35400;    
}

#pts-jogador , #pts-computador {
    top: 50%;
    padding-top: 10px;
    position: absolute;
    font-size: 2em;
    text-align: center;
}

@media (max-width: 1100px) { 
    #pts-jogador , #pts-computador {
        top: 1%;
    }
 }

 @media (max-width: 815px) { 
    #pts-jogador , #pts-computador {
        top: 100%;
    }
 }